BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "clk256" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "lrclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nreset" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "sdin" IO_TYPE=LVCMOS33 ;
IOBUF PORT "spdif" IO_TYPE=LVCMOS33 ;
USE PRIMARY NET "clk128" ;
LOCATE COMP "clk256" SITE "4" ;
LOCATE COMP "spdif" SITE "5" ;
LOCATE COMP "sclk" SITE "13" ;
LOCATE COMP "lrclk" SITE "14" ;
LOCATE COMP "sdin" SITE "16" ;
LOCATE COMP "nreset" SITE "21" ;
