BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "clk256" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "lrclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nreset" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "sdin" IO_TYPE=LVCMOS33 ;
IOBUF PORT "spdif" IO_TYPE=LVCMOS33 ;
LOCATE COMP "clk256" SITE "21" ;
LOCATE COMP "lrclk" SITE "8" ;
LOCATE COMP "sdin" SITE "9" ;
LOCATE COMP "sclk" SITE "11" ;
LOCATE COMP "spdif" SITE "17" ;
LOCATE COMP "nreset" SITE "4" ;
USE PRIMARY NET "clk128" ;
